body{
  background:#1b1b1b;
  color:white;
  margin:10%;

}

.title{
	color: sandybrown;
	text-align: center;
	font-size: 40px;
	margin: 4px;
}

.intro{
	margin: auto;
	font-size: large;
}

.manjot{
	color: red;
	text-align: center;
	font-size: 40px;
}
